body {

    background-color: black;
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    background-position: center;
    background-attachment: fixed;
    color: rgb(248, 242, 242);
    font-size: 40px;
    font-weight: bold;
   
    
    
  }

  canvas {
   
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 10;
    left: 10;
  }
  
  h1 {
    color: rgb(253, 245, 245);
    font-size: 70px;
  }